<plugin>
    <nom>Corvart</nom>
    <auteur>azerttyu - akilo</auteur>
    <version>1.0</version>
    <version_base>0.0.1</version_base>

    <etat>stable</etat>
    <description>
        Ce plugin sert à valider des articles à la lecture
    </description>
    <lien>http://www.spip-contrib.net/</lien>
    <icon>images/corvart-128.png</icon>
    <prefix>corvart</prefix>
    
    <install>base/corvart_upgrade.php</install>    
    
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/corvart.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/corvart.php</inclure>
	</pipeline>

    <necessite id="SPIP" version="[2.0.9;]" />
    
</plugin>
